
@{
    ViewBag.Title = "Users Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/Users/Create">NEW</a>

<div class="grid">
    <div class="row">
        <div class="col-1">Username</div>
        <div class="col-1">First Name</div>
        <div class="col-1">Last Name</div>
    </div>
</div>

