<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Login Sample Web App</h1>
        <span>Hello Annonymous</span>
    </div>
    <div>
        <ul>
            <li>
                <a href="/Home/Index">HOME</a>
            </li>
            <li>
                <a href="/Home/Login">LOGIN</a>
            </li>
            <li>
                <a href="/Home/CheckboxesTest">CHECKBOXES</a>
            </li>
        </ul>
    </div>
    <div>
        <p>This is an ASP.NET Core MVC project as part of the FMI development training.</p>
    </div>
</body>
</html>
